name: Update ELB Name in Application Repo
permissions:
  contents: write

on:
  repository_dispatch:
    types: [update-elb]

jobs:
  update-elb-name:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Update ELB Name in Text File
        run: |
          echo "${{ github.event.client_payload.elbName }}" > elb_name.txt
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add elb_name.txt
          git commit -m "Update ELB name"
          git push
